<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.yanova.kolibri">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <service android:name=".notifications.KolibriFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".notifications.KolibriFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".notifications.InternalNotificationsReceiver">
            <intent-filter>
                <action android:name="ch.azmedien.kolibri.action.MESSAGE_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name=".ErrorActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>