<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="ch.yanova.kolibri.prototype">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name=".KolibriPrototypeApp"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity
      android:label="@string/app_name"
      android:name=".ProrotypeSplashActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter>
        <action android:name="OPEN_ACTIVITY_1"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data
          android:host="notification"
          android:scheme="kolibri"/>
      </intent-filter>
    </activity>

    <meta-data
      android:name="io.fabric.ApiKey"
      android:value="5b0e4ca8fe72e1ad97ccbd82e18f18ba4cacd219"/>
    <meta-data
      android:name="kolibri_navigation_url"
      android:value="https://kolibri.herokuapp.com/apps/hFxsFLsMXZyvAddBGXWCcxQf/runtime"/>

    <activity
      android:label="360Player"
      android:name=".CardboardActivity"/>

    <activity
      android:configChanges="orientation|screenSize"
      android:label="@string/app_name"
      android:name=".PrototypeActivity"/>

    <activity
      android:launchMode="singleTop"
      android:name=".InternalWebActivity"
      android:theme="@style/AppTheme">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>

        <data
          android:host="internal"
          android:path="/webview"
          android:scheme="kolibri"/>

        <data
          android:host="internal"
          android:path="/webview"
          android:scheme="hrtoday"/>
      </intent-filter>
    </activity>
  </application>

</manifest>